{
  "extends": [
    "canonical",
    "canonical/typescript",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "import/no-named-as-default-member": 0,
    "unicorn/expiring-todo-comments": 0,
    "canonical/destructuring-property-newline": 0,
    "canonical/import-specifier-newline": 0
  }
}
